{{#> main data=index}}
    {{#*inline 'content'}}
        {{>logo}}
        <p>{{{__ 'welcome.to'}}} {{{__ index.title}}}</p>

        {{{__ 'welcome.title'}}}
        {{{__ 'i1'}}}<br />
        {{{__ 'i2'}}}<br /><br />
        {{{capitalise (__ 'enjoy')}}}<br /><br />
        <img src="{{path 'images/gulp-white-text.svg'}}" />
    {{/inline}}
{{/main}}
