{{#extend "main"}}
    {{#content "main"}}
        {{>logo}}
        <p>{{{__ 'welcome.to'}}} {{{index.title}}}</p>

        {{{__ 'welcome.title'}}}
        {{{__ 'i1'}}}<br />
        {{{__ 'i2'}}}<br /><br />
        {{{capitalise (__ 'enjoy')}}}<br /><br />
        <img src="{{path 'images/gulp-white-text.svg'}}" />
    {{/content}}
{{/extend}}
